// beach vibes color palette

$light-blue: #BED0F4;
$blue: #8BA6E9;
$dark-blue: #7E96C4;
$pink: #D7B7BC;
$sandy-pink: #F7E4E0;
$white: #FFFFFF;

// extra colors
$mr-popo: #202426;
$off-white: #FAF9F6;
$platinum: #E5E4E2;
$off-black: #353839;
$alice-blue: aliceblue;


// assign body background, primary, secondary, and info required variables
$body-bg: $white;   // white background
$primary: $blue;
$secondary: $pink;
$info: $light-blue;