// import colors file
@use 'colors' as c;

// import bootstrap
@use "../../node_modules/bootstrap/scss/bootstrap" with (

    $body-bg: c.$white, // white background
    $primary: c.$blue,
    $secondary: c.$pink,
    $info: c.$light-blue,
    
    // set bootstrap 
    $font-family-base: ('Cascadia Code, monospace')
);

// Home page
@use 'pages/home';

// Authors Page
@use 'pages/authors';

// Q&A Game Page
@use 'pages/game';
// cascadia code font import

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');