// import colors file
@use '../colors';

.theAuthor {
    margin-bottom: 3em;
    padding-top: 1em;
    // background-color: colors.$smoke;
    // border: 2px solid colors.$off-black;
    background: rgba(30, 64, 175, 0.18);

    backdrop-filter: blur(14px);

    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);

    border-radius: 20px;

    // A creator of JobHopper
    .authorOne {
        text-align: center;
        font-size: 20px;
    }

    // the invisible block around ALL the authors' image - centers the picture perfectly
   .imgBox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15em;
    }

    // image styling for ALL images on this page - adds nice smooth rounded edges to the image
    img {
        border-radius: 10px;

    }

    //favorite programing language settings
    .faveOne {
        text-align: center;

        p {
            font-size: 25px;
        }
    }

    // the invisible box that contains an image of the logo of a programming language
    .langLogo {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10em;
    }

    // A creator of JobHopper
    .authorTwo {
        text-align: center;
        font-size: 20px;
    }

    //favorite programing language settings
    .faveTwo {
        text-align: center;

        p {
            font-size: 25px;
        }
    }

    // A creator of JobHopper
    .authorThree {
        text-align: center;
        font-size: 20px;
    }

    //favorite programing language settings
    .faveThree {
        text-align: center;

        p {
            font-size: 25px;
        }
    }

    // A creator of JobHopper 
    .authorFour {
        text-align: center;
        font-size: 20px;
    }
    

    // favorite programming language settings
    .faveFour {
        text-align: center;

        p {
            font-size: 25px;
        }
    }

    //the biography settings
    .bio {
        text-align: center;
        font-size: 15px;
    }
}

